@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e6e6ea;
  display: grid;
  grid-template: min-content 1fr / 1fr 4.5fr;
}

/*HEADER STYLING*/

header {
  background-color: #f4f4f8;
  grid-column: 2;
  display: grid;
  grid-template: 1fr 1.5fr / 1.5fr 1fr;
  padding: 20px 80px 20px 45px;
  gap: 20px;
}
.header__search {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__search > input {
  width: 80%;
  border: none;
  border-radius: 15px;
  background-color: #e6e6ea;
  padding: 10px;
  transition: 0.4s ease;
}
.header__search > input:hover,
.header__search > input:focus {
  transform: scaleY(1.2);
}
.header__search > input:focus {
  outline: none;
  border: 2px solid #ff495c;
}

.header__profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7%;
}
.header__profile > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
}
.header__profile > img,
.header__profile > button > img:hover {
  cursor: pointer;
  transition: 0.4s ease;
}
.header__profile > img:hover {
  background-color: #e6e6ea;
  transform: scale(1.2);
}
.header__profile > button > img:hover {
  transform: scale(1.2);
}
.header__profile > button,
.projects__card > div > button {
  background-color: inherit;
  border: none;
}

.header__welcome {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__welcome > img {
  grid-row: span 2;
}
.header__profile > img,
.trending__profile > img {
  width: 50px;
  border-radius: 25px;
}
.header__welcome > img {
  width: 80px;
  border-radius: 40px;
}
.welcome__smaller {
  font-size: 0.85rem;
  margin-bottom: 3px;
}
.welcome__bigger {
  font-size: 1.3rem;
}
.welcome__smaller,
.welcome__bigger {
  font-weight: 700;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7%;
}
.header__buttons > button {
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background-color: #ff495c;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s ease;
}
.header__buttons > button:hover {
  transform: scale(1.2);
  background-color: #d92335;
}

/*NAV STYLING*/

nav {
  background-color: #ff495c;
  grid-row: 1 / span 2;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  color: white;
  font-weight: 700;
}
.nav__container:first-child {
  display: flex;
  padding-left: 20px;
}

.nav__container > img {
  height: 50px;
  margin-right: 15px;
}
.nav__container > h1 {
  font-size: 30px;
  margin-top: 7px;
}
.nav__section {
  display: flex;
  gap: 25px;
  padding: 10px 20px;
  transition: 0.5s ease;
  cursor: pointer;
}
.nav__section:hover {
  background-color: #d92335;
}
.nav__section > img {
  width: 30px;
  margin-left: 10px;
}
.nav__section > p {
  margin-top: 7px;
}

/*MAIN STYLING*/

main {
  display: grid;
  grid-template: 1fr 1fr / 4fr minmax(262px, 1fr);
  padding: 35px 35px 25px 25px;
  gap: 0px 20px;
}
.main__header {
  font-size: 1.2rem;
  font-weight: 600;
}
.main__projects {
  grid-row: span 2;
}
.sidebar__top {
  grid-column: 2;
  grid-row: 1;
}
.sidebar__bot {
  grid-column: 2;
  grid-row: 2;
}
.main__projects > p,
.sidebar__bot > p,
.sidebar__top > p {
  margin-bottom: 10px;
}
.main__projects > div {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.projects__card {
  width: minmax(300px, 100%);
  border-radius: 10px;
  border-left: 5px solid #fe4a49;
  min-height: 200px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}
.projects__card > div {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  gap: 30px;
}
.projects__card > p:nth-child(2),
.profile__description {
  color: hsl(0, 0%, 30%);
}
.projects__card > div > button > img {
  cursor: pointer;
  transition: 0.4s ease;
}
.projects__card > div > button > img:hover {
  transform: scale(1.2);
}
.projects__card,
.sidebar__announcements,
.sidebar__trending {
  background-color: #f4f4f8;
}
.card__header {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.sidebar__announcements,
.sidebar__trending {
  font-size: 0.85rem;
  border-radius: 10px;
}
.sidebar__announcements {
  padding: 25px;
}
.sidebar__announcements > hr {
  border: 0;
  height: 1px;
  background-color: #999999;
  margin: 10px 0;
}
.announcements__header {
  font-size: 0.85rem;
  font-weight: 700;
}
.announcements__paragraph {
  font-size: 0.75rem;
}
.sidebar__trending {
  padding: 5px 15px;
}
.trending__profile {
  display: flex;
  margin: 20px 0;
  gap: 15px;
  text-decoration: none;
  color: inherit;
  border-radius: 20px;
  transition: 0.4s ease;
}
.trending__profile:hover {
  background-color: #dddddd;
}
.trending__profile > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trending__profile > img {
  width: 50px;
  height: 50px;
}
.profile__tag {
  font-weight: 700;
}
